<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Home Page</title>
</head>

<body>
    <div class="container">
        <h1>URL Shortener</h1>
        </h2>
        <div style="display:flex; justify-content:space-between; align-items:center; margin-bottom:20px;">
            <h2>Welcome <%= user.name %>
            </h2>

            <a href="/user/logout">
                <button>Logout</button>
            </a>
        </div>
        <div>
            <form method="POST" action="/url">
                <label for="">Enter you original URL</label>
                <input type="text" name="url" placeholder="https://example.com">
                <button type="submit">Generate</button>
            </form>
            <% if (typeof message !=="undefined" && message !=="" ) { %>
                <script>
                    alert("<%= message %>");
                </script>
                <% } %>
                    <% if(locals.id) { %>
                        <p>URL Generated: http://localhost:3000/<%= id %>
                        </p>
                        <% } %>
        </div>
        <div>
            <% if(locals.urls && locals.urls.length>0) { %>
                <div class="table-container">
                    <table>
                        <thead>
                            <th>S no.</th>
                            <th>User</th>
                            <th>Email</th>
                            <th>ShortId</th>
                            <th>Redirect</th>
                            <th>Clicks</th>
                        </thead>
                        <tbody>
                            <%urls.forEach((url,index)=> { %>
                                <tr>
                                    <td>
                                        <%= index+1 %>
                                    </td>
                                    <td>
                                        <%= url.createdBy.name %>
                                    </td>
                                    <td>
                                        <%= url.createdBy.email %>
                                    </td>
                                    <td>
                                        <%= url.shortId %>
                                    </td>
                                    <td>
                                        <%= url.redirectURL %>
                                    </td>
                                    <td>
                                        <%= url.visitHistory.length %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
                <% } else { %>
                    <h3>no shortIDs generated yet</h3>
                    <%} %>
        </div>
    </div>
</body>

</html>